# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-error.log*
yarn-debug.log*
yarn-error.log*

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
